body {
  margin: 0;
  padding: 0;
  background: #F9F9F9;
  font-family: apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #E6E6E6;
}

#nav-first {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 15px;
  color: #252525;
  cursor: pointer;
}

#stick {
  font-size: 3.3em;
  font-weight: 300;
  color: #252525;
  cursor: text;
}

#fakestagram {
  font-family: 'Pacifico';
  font-size: 35px;
  color: #252525;
  font-weight: 300;
  cursor: text;
}

#nav-middle {
  size: 200px;
}


.form-control {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #D4D4D4;
  font-size: 1.2em;
  font-weight: 540;
  padding-left: 10px;
  font: 'Arial';
  outline : #d1d1d1;
  background: #F2F2F2;
}

#nav-end {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 15px;
  color: #252525;
  cursor: pointer;
}

/* Profile Info Sec */
.prof-info-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #DEDEDE;
  gap: 8%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 8%;
  padding-top: 50px;
  padding-bottom: 45px;
}

#profile-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100px;
  margin-top: -50px;
  border: 1px solid #DBDBDB;
}

#info {
  display: flex;
  flex-direction: column;
}

.username-sec {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 2.2em;
  color: #252525;
}

#username {
  font-size: 45px;
  font-weight: 300;
}

#edit-btn {
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #DBDBDB;
  height: 50px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #232323;
  cursor: pointer;
}

#stats {
  display: flex;
  gap: 30px;
  font-size: 22px;
  color: 242424;
}

.stats-bolded {
  font-weight: 600;
}

#bio {
  width: 80%;
  margin-top: -25px;
  font-size: 20px;
}

#web-link,
a {
  margin-top: -15px;
  font-size: 20px;
  color: #2F4D7B;
  font-weight: 600;
}

#extra-info {
  margin-top: -15px;
  color: #969696;
  font-size: 16px;
}

.followers-bolded {
  font-weight: 700;
  color: #232730;
  cursor: pointer;
}